
@import "bootstrap";

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: left;
}

header {
  color: black;
}

.mainbar {
  list-style: none;
  li {
    float: left;
    margin-left: 15px;
  }
}

button {

}

.results {
  margin-bottom: 10px;
}

.sbar {
  margin-bottom: 10px;
}

#li:hover {
  color: ghostwhite;
}

.navbar {
  background-color: black;
}
